@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply scroll-smooth !overflow-x-hidden;
  }

  body {
    @apply relative m-0 scroll-smooth antialiased text-black transition-all duration-300 bg-white w-full !overflow-x-hidden;
  }

  ::selection {
    @apply bg-primary-400 text-white;
  }

  body::-webkit-scrollbar {
    @apply w-2 h-10 transition-all;
  }

  body::-webkit-scrollbar-track {
    @apply shadow-sm bg-primary-400;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-secondary-400 outline-none;
  }

  .scroll-ctn::-webkit-scrollbar {
    @apply !hidden;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .text-overflow-ellipsis {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .text-overflow-ellipsis-3-clamp {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .distance-slider {
    @apply !w-full;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.multi-range-slider .bar-left,
.multi-range-slider .bar-right,
.multi-range-slider .thumb::before,
.multi-range-slider .thumb .caption * {
  box-shadow: 0 0 0 #ffffff00 !important;
}

.multi-range-slider .thumb::before {
  border: none !important;
}

.multi-range-slider .thumb .caption * {
  background-color: #0e1f42 !important;
}

.active-btn {
  background: linear-gradient(to right, #fff, #0e1f42, #fff);
}

.warning-btn {
  background: linear-gradient(to right, #fff, #e35f52, #fff);
}
